<style>
	#cnr {
		margin-top: 10px;
	}
	#btn-row {
		display: flex;
		margin-top: 7px;
	}
</style>

<div id="cnr">
	<button class="responsive">
		<i> download </i>
		Download
	</button>
	<div id="btn-row">
		<button class="responsive fill">
			<i> help </i>
			Support
		</button>
		<button class="responsive fill">
			<i> code </i>
			Code
		</button>
	</div>
</div>
