<style>
	#cnr {
		margin-top: 20px;
	}
	#btn-row {
		display: flex;
		margin-top: 16px;
	}
	a {
		width: 100%;
		height: 100%;
	}
</style>

<div id="cnr">
	<a href="/download">
		<button class="responsive">
			<i> download </i>
			Download
		</button>
	</a>
	<div id="btn-row">
		<a href="https://discord.gg/6ckFahqUcd">
			<button class="responsive fill">
				<i> help </i>
				Support
			</button>
		</a>
		<a href="https://github.com/nin0-dev/VendroidEnhanced">
			<button class="responsive fill">
				<i> code </i>
				Code
			</button>
		</a>
	</div>
</div>
