---
const { title, desc, showPaiginator } = Astro.props;
---

<style>
	p {
		margin: 0;
		margin-top: 8px;
	}

	h6 {
		font-size: 1.45rem;
		font-weight: 400;
	}
</style>

<div class="s12 m12 l6">
	<article>
		<h6>{title}</h6>
		<p>
			{desc}
		</p>
	</article>
</div>
