body {
	--primary: #4c57a9;
	--on-primary: #ffffff;
	--primary-container: #dfe0ff;
	--on-primary-container: #000b62;
	--secondary: #5b5d72;
	--on-secondary: #ffffff;
	--secondary-container: #e0e0f9;
	--on-secondary-container: #181a2c;
	--tertiary: #77536c;
	--on-tertiary: #ffffff;
	--tertiary-container: #ffd7f0;
	--on-tertiary-container: #2d1127;
	--error: #ba1a1a;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #410002;
	--background: #fffbff;
	--on-background: #1b1b1f;
	--surface: #fcf8fd;
	--on-surface: #1b1b1f;
	--surface-variant: #e3e1ec;
	--on-surface-variant: #46464f;
	--outline: #777680;
	--outline-variant: #c7c5d0;
	--shadow: #000000;
	--scrim: #000000;
	--inverse-surface: #303034;
	--inverse-on-surface: #f3f0f4;
	--inverse-primary: #bcc2ff;
	--surface-dim: #dcd9de;
	--surface-bright: #fcf8fd;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #f6f2f7;
	--surface-container: #f0edf1;
	--surface-container-high: #eae7ec;
}
body.dark {
	--primary: #bcc2ff;
	--on-primary: #1b2678;
	--primary-container: #343f90;
	--on-primary-container: #dfe0ff;
	--secondary: #c4c5dd;
	--on-secondary: #2d2f42;
	--secondary-container: #444559;
	--on-secondary-container: #e0e0f9;
	--tertiary: #e6bad6;
	--on-tertiary: #45263d;
	--tertiary-container: #5e3c54;
	--on-tertiary-container: #ffd7f0;
	--error: #ffb4ab;
	--on-error: #690005;
	--error-container: #93000a;
	--on-error-container: #ffb4ab;
	--background: #1b1b1f;
	--on-background: #e4e1e6;
	--surface: #131316;
	--on-surface: #e4e1e6;
	--surface-variant: #46464f;
	--on-surface-variant: #c7c5d0;
	--outline: #90909a;
	--outline-variant: #46464f;
	--shadow: #000000;
	--scrim: #000000;
	--inverse-surface: #e4e1e6;
	--inverse-on-surface: #303034;
	--inverse-primary: #4c57a9;
	--surface-dim: #131316;
	--surface-bright: #39393c;
	--surface-container-lowest: #0e0e11;
	--surface-container-low: #1b1b1f;
	--surface-container: #1f1f23;
	--surface-container-high: #2a2a2d;
	--surface-container-highest: #353438;
}

.danger {
	--primary: #bb1614;
	--on-primary: #ffffff;
	--primary-container: #ffdad5;
	--on-primary-container: #410001;
	--secondary: #775652;
	--on-secondary: #ffffff;
	--secondary-container: #ffdad5;
	--on-secondary-container: #2c1512;
	--tertiary: #705c2e;
	--on-tertiary: #ffffff;
	--tertiary-container: #fcdfa6;
	--on-tertiary-container: #261a00;
	--error: #ba1a1a;
	--on-error: #ffffff;
	--error-container: #ffdad6;
	--on-error-container: #410002;
	--background: #fffbff;
	--on-background: #201a19;
	--surface: #fff8f7;
	--on-surface: #201a19;
	--surface-variant: #f5ddda;
	--on-surface-variant: #534341;
	--outline: #857370;
	--outline-variant: #d8c2be;
	--shadow: #000000;
	--scrim: #000000;
	--inverse-surface: #362f2e;
	--inverse-on-surface: #fbeeec;
	--inverse-primary: #ffb4a9;
	--surface-dim: #e4d7d5;
	--surface-bright: #fff8f7;
	--surface-container-lowest: #ffffff;
	--surface-container-low: #fef1ef;
	--surface-container: #f8ebe9;
	--surface-container-high: #f3e5e3;
	--surface-container-highest: #ede0de;
}
body.dark .danger {
	--primary: #ffb4a9;
	--on-primary: #690002;
	--primary-container: #930005;
	--on-primary-container: #ffdad5;
	--secondary: #e7bdb7;
	--on-secondary: #442926;
	--secondary-container: #5d3f3b;
	--on-secondary-container: #ffdad5;
	--tertiary: #dfc38c;
	--on-tertiary: #3e2e04;
	--tertiary-container: #574419;
	--on-tertiary-container: #fcdfa6;
	--error: #ffb4ab;
	--on-error: #690005;
	--error-container: #93000a;
	--on-error-container: #ffb4ab;
	--background: #201a19;
	--on-background: #ede0de;
	--surface: #181211;
	--on-surface: #ede0de;
	--surface-variant: #534341;
	--on-surface-variant: #d8c2be;
	--outline: #a08c89;
	--outline-variant: #534341;
	--shadow: #000000;
	--scrim: #000000;
	--inverse-surface: #ede0de;
	--inverse-on-surface: #362f2e;
	--inverse-primary: #bb1614;
	--surface-dim: #181211;
	--surface-bright: #3f3736;
	--surface-container-lowest: #120d0c;
	--surface-container-low: #201a19;
	--surface-container: #251e1d;
	--surface-container-high: #2f2827;
}
